# Mounting Google Colab with drive

In [1]:
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

# Installing Libraries

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [3]:
pip install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.8.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2022.9.24)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

# Importing Libraries

In [4]:
import gdown
import pandas as pd

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

import os

# Loading Datasets Into My Drive

In [5]:
def load_file(filename, fileid):
  for i in range(len(filename)):
    url="https://drive.google.com/uc?id={}".format(fileid[i])
    output = "/content/drive/MyDrive/DE Assigment/" + filename[i]
    gdown.download(url, output, quiet = False)

filename = ["chess_wc_history_game_info.csv", "chess_wc_history_moves.csv", "eco_codes.csv"]
fileid = ["1UBoiIGhfg-Yxk9wXbc48Lx9Z9ZzWg_4Z","1Th6rP8rVchIvXV25bzO5Er_SvyRoNaic", "1eysHHc8I905r8YVeALYydQBl0E9caNNI"]
load_file(filename, fileid)

Downloading...
From: https://drive.google.com/uc?id=1UBoiIGhfg-Yxk9wXbc48Lx9Z9ZzWg_4Z
To: /content/drive/MyDrive/DE Assigment/chess_wc_history_game_info.csv
100%|██████████| 596k/596k [00:00<00:00, 38.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Th6rP8rVchIvXV25bzO5Er_SvyRoNaic
To: /content/drive/MyDrive/DE Assigment/chess_wc_history_moves.csv
100%|██████████| 112M/112M [00:00<00:00, 129MB/s]
Downloading...
From: https://drive.google.com/uc?id=1eysHHc8I905r8YVeALYydQBl0E9caNNI
To: /content/drive/MyDrive/DE Assigment/eco_codes.csv
100%|██████████| 45.6k/45.6k [00:00<00:00, 7.92MB/s]

# Creating Spark Session

In [6]:
session = SparkSession.builder.appName("DE_Assignment").master("local").getOrCreate()
read_data = session.read

In [7]:
df_game_info = read_data.option("header", True).option("inferSchema", True).csv("/content/drive/MyDrive/DE Assigment/chess_wc_history_game_info.csv")
df_moves = read_data.option("header", True).option("inferSchema", True).csv("/content/drive/MyDrive/DE Assigment/chess_wc_history_moves.csv")
df_codes = read_data.option("header", True).option("inferSchema", True).csv("/content/drive/MyDrive/DE Assigment/eco_codes.csv")

In [8]:
df_game_info.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- game_order: integer (nullable = true)
 |-- event: string (nullable = true)
 |-- site: string (nullable = true)
 |-- date_played: string (nullable = true)
 |-- round: double (nullable = true)
 |-- white: string (nullable = true)
 |-- black: string (nullable = true)
 |-- result: string (nullable = true)
 |-- white_elo: integer (nullable = true)
 |-- black_elo: integer (nullable = true)
 |-- white_title: string (nullable = true)
 |-- black_title: string (nullable = true)
 |-- winner: string (nullable = true)
 |-- winner_elo: integer (nullable = true)
 |-- loser: string (nullable = true)
 |-- loser_elo: integer (nullable = true)
 |-- winner_loser_elo_diff: integer (nullable = true)
 |-- eco: string (nullable = true)
 |-- date_created: timestamp (nullable = true)
 |-- tournament_name: string (nullable = true)

In [9]:
df_moves.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- move_no: integer (nullable = true)
 |-- move_no_pair: integer (nullable = true)
 |-- player: string (nullable = true)
 |-- notation: string (nullable = true)
 |-- move: string (nullable = true)
 |-- from_square: string (nullable = true)
 |-- to_square: string (nullable = true)
 |-- piece: string (nullable = true)
 |-- color: string (nullable = true)
 |-- fen: string (nullable = true)
 |-- is_check: integer (nullable = true)
 |-- is_check_mate: integer (nullable = true)
 |-- is_fifty_moves: integer (nullable = true)
 |-- is_fivefold_repetition: integer (nullable = true)
 |-- is_game_over: integer (nullable = true)
 |-- is_insufficient_material: integer (nullable = true)
 |-- white_count: integer (nullable = true)
 |-- black_count: integer (nullable = true)
 |-- white_pawn_count: integer (nullable = true)
 |-- black_pawn_count: integer (nullable = true)
 |-- white_queen_count: integer (nullable = true)
 |-- black_queen_count: integer (nullable = true)
 |-- white_bishop_count: integer (nullable = true)
 |-- black_bishop_count: integer (nullable = true)
 |-- white_knight_count: integer (nullable = true)
 |-- black_knight_count: integer (nullable = true)
 |-- white_rook_count: integer (nullable = true)
 |-- black_rook_count: integer (nullable = true)
 |-- captured_score_for_white: integer (nullable = true)
 |-- captured_score_for_black: integer (nullable = true)
 |-- fen_row1_white_count: integer (nullable = true)
 |-- fen_row2_white_count: integer (nullable = true)
 |-- fen_row3_white_count: integer (nullable = true)
 |-- fen_row4_white_count: integer (nullable = true)
 |-- fen_row5_white_count: integer (nullable = true)
 |-- fen_row6_white_count: integer (nullable = true)
 |-- fen_row7_white_count: integer (nullable = true)
 |-- fen_row8_white_count: integer (nullable = true)
 |-- fen_row1_white_value: integer (nullable = true)
 |-- fen_row2_white_value: integer (nullable = true)
 |-- fen_row3_white_value: integer (nullable = true)
 |-- fen_row4_white_value: integer (nullable = true)
 |-- fen_row5_white_value: integer (nullable = true)
 |-- fen_row6_white_value: integer (nullable = true)
 |-- fen_row7_white_value: integer (nullable = true)
 |-- fen_row8_white_value: integer (nullable = true)
 |-- fen_row1_black_count: integer (nullable = true)
 |-- fen_row2_black_count: integer (nullable = true)
 |-- fen_row3_black_count: integer (nullable = true)
 |-- fen_row4_black_count: integer (nullable = true)
 |-- fen_row5_black_count: integer (nullable = true)
 |-- fen_row6_black_count: integer (nullable = true)
 |-- fen_row7_black_count: integer (nullable = true)
 |-- fen_row8_black_count: integer (nullable = true)
 |-- fen_row1_black_value: integer (nullable = true)
 |-- fen_row2_black_value: integer (nullable = true)
 |-- fen_row3_black_value: integer (nullable = true)
 |-- fen_row4_black_value: integer (nullable = true)
 |-- fen_row5_black_value: integer (nullable = true)
 |-- fen_row6_black_value: integer (nullable = true)
 |-- fen_row7_black_value: integer (nullable = true)
 |-- fen_row8_black_value: integer (nullable = true)
 |-- move_sequence: string (nullable = true)

In [10]:
df_codes.printSchema()

root
 |-- eco: string (nullable = true)
 |-- eco_name: string (nullable = true)
 |-- eco_example: string (nullable = true)
 |-- eco_type: string (nullable = true)
 |-- eco_group: string (nullable = true)

In [11]:
df_codes.show(truncate = False)

+---+------------------------------------------+-----------------------------------------+--------+---------+
|eco|eco_name                                  |eco_example                              |eco_type|eco_group|
+---+------------------------------------------+-----------------------------------------+--------+---------+
|A00|Uncommon Opening                          |1 g4, a3, h3, etc.                       |A       |Flank    |
|A01|Nimzovich-Larsen Attack                   |1 b3                                     |A       |Flank    |
|A02|Bird's Opening                            |1 f4                                     |A       |Flank    |
|A03|Bird's Opening                            |1 f4 d5                                  |A       |Flank    |
|A04|Reti Opening                              |1 Nf3                                    |A       |Flank    |
|A05|Reti Opening                              |1 Nf3 Nf6                                |A       |Flank    |
|A06|Reti Opening                              |1 Nf3 d5                                 |A       |Flank    |
|A07|King's Indian Attack                      |1 Nf3 d5 2 g3                            |A       |Flank    |
|A08|King's Indian Attack                      |1 Nf3 d5 2 g3 c5 3 Bg2                   |A       |Flank    |
|A09|Reti Opening                              |1 Nf3 d5 2 c4                            |A       |Flank    |
|A10|English                                   |1 c4                                     |A       |Flank    |
|A11|English, Caro-Kann Defensive System       |1 c4 c6                                  |A       |Flank    |
|A12|English with b3                           |1 c4 c6 2 Nf3 d5 3 b3                    |A       |Flank    |
|A13|English                                   |1 c4 e6                                  |A       |Flank    |
|A14|English                                   |1 c4 e6 2 Nf3 d5 3 g3 Nf6 4 Bg2 Be7 5 O-O|A       |Flank    |
|A15|English                                   |1 c4 Nf6                                 |A       |Flank    |
|A16|English                                   |1 c4 Nf6 2 Nc3                           |A       |Flank    |
|A17|English                                   |1 c4 Nf6 2 Nc3 e6                        |A       |Flank    |
|A18|English, Mikenas-Carls                    |1 c4 Nf6 2 Nc3 e6 3 e4                   |A       |Flank    |
|A19|English, Mikenas-Carls, Sicilian Variation|1 c4 Nf6 2 Nc3 e6 3 e4 c5                |A       |Flank    |
+---+------------------------------------------+-----------------------------------------+--------+---------+
only showing top 20 rows

In [12]:
df_codes.count()

500

In [13]:
df_game_info.show(truncate = False)

+------------------------------------+----------+--------+----------+-----------+-----+----------------+----------------+-------+---------+---------+-----------+-----------+---------+----------+----------------+---------+---------------------+---+-------------------+---------------+
|game_id                             |game_order|event   |site      |date_played|round|white           |black           |result |white_elo|black_elo|white_title|black_title|winner   |winner_elo|loser           |loser_elo|winner_loser_elo_diff|eco|date_created       |tournament_name|
+------------------------------------+----------+--------+----------+-----------+-----+----------------+----------------+-------+---------+---------+-----------+-----------+---------+----------+----------------+---------+---------------------+---+-------------------+---------------+
|86e0b7f5-7b94-4ae3-97c8-317371622795|1         |WCh 2021|Dubai UAE |2021.11.26 |1.0  |Nepomniachtchi,I|Carlsen,M       |1/2-1/2|2782     |2855     |null       |null       |draw     |null      |draw            |null     |0                    |C88|2022-07-22 22:33:50|WorldChamp2021 |
|dc4a10ab-54cf-49d0-b7ed-8c81a07e3e27|2         |WCh 2021|Dubai UAE |2021.11.27 |2.0  |Carlsen,M       |Nepomniachtchi,I|1/2-1/2|2855     |2782     |null       |null       |draw     |null      |draw            |null     |0                    |E06|2022-07-22 22:33:50|WorldChamp2021 |
|f042ca37-8899-4887-87e9-e9d91c6e2d0e|3         |WCh 2021|Dubai UAE |2021.11.28 |3.0  |Nepomniachtchi,I|Carlsen,M       |1/2-1/2|2782     |2855     |null       |null       |draw     |null      |draw            |null     |0                    |C88|2022-07-22 22:33:50|WorldChamp2021 |
|f70e4bbc-21e3-46f3-add0-7f0091822d5a|4         |WCh 2021|Dubai UAE |2021.11.30 |4.0  |Carlsen,M       |Nepomniachtchi,I|1/2-1/2|2855     |2782     |null       |null       |draw     |null      |draw            |null     |0                    |C42|2022-07-22 22:33:50|WorldChamp2021 |
|c941c323-308a-4c86-9007-e1eb2a22cea6|5         |WCh 2021|Dubai UAE |2021.12.01 |5.0  |Nepomniachtchi,I|Carlsen,M       |1/2-1/2|2782     |2855     |null       |null       |draw     |null      |draw            |null     |0                    |C88|2022-07-22 22:33:50|WorldChamp2021 |
|58e83255-93bb-4d58-8c14-78a991419338|6         |WCh 2021|Dubai UAE |2021.12.03 |6.0  |Carlsen,M       |Nepomniachtchi,I|1-0    |2855     |2782     |null       |null       |Carlsen,M|2855      |Nepomniachtchi,I|2782     |73                   |D02|2022-07-22 22:33:50|WorldChamp2021 |
|29181d93-73f4-4fb2-af29-23bcf066cb62|7         |WCh 2021|Dubai UAE |2021.12.04 |7.0  |Nepomniachtchi,I|Carlsen,M       |1/2-1/2|2782     |2855     |null       |null       |draw     |null      |draw            |null     |0                    |C88|2022-07-22 22:33:50|WorldChamp2021 |
|8a4ccd8c-d437-4296-a815-6f55b2679c3e|8         |WCh 2021|Dubai UAE |2021.12.05 |8.0  |Carlsen,M       |Nepomniachtchi,I|1-0    |2855     |2782     |null       |null       |Carlsen,M|2855      |Nepomniachtchi,I|2782     |73                   |C43|2022-07-22 22:33:50|WorldChamp2021 |
|55a122db-27d1-495c-bec4-bc811c1e6950|9         |WCh 2021|Dubai UAE |2021.12.07 |9.0  |Nepomniachtchi,I|Carlsen,M       |0-1    |2782     |2855     |null       |null       |Carlsen,M|2855      |Nepomniachtchi,I|2782     |73                   |A13|2022-07-22 22:33:50|WorldChamp2021 |
|1f900d18-5ea3-4f48-8e39-cd50ed088694|10        |WCh 2021|Dubai UAE |2021.12.08 |10.0 |Carlsen,M       |Nepomniachtchi,I|1/2-1/2|2855     |2782     |null       |null       |draw     |null      |draw            |null     |0                    |C42|2022-07-22 22:33:50|WorldChamp2021 |
|c512a953-a341-47c9-a907-a608bc08be11|11        |WCh 2021|Dubai UAE |2021.12.10 |11.0 |Nepomniachtchi,I|Carlsen,M       |0-1    |2782     |2855     |null       |null       |Carlsen,M|2855      |Nepomniachtchi,I|2782     |73                   |C50|2022-07-22 22:33:50|WorldChamp2021 |
|99d39a93-427e-4d1a-bd36-ff23f98829e5|1         |WCh 2018|London ENG|2018.11.09 |1.0  |Caruana, Fabiano|Carlsen, Magnus |1/2-1/2|2832     |2835     |GM         |GM         |draw     |null      |draw            |null     |0                    |B31|2022-07-22 22:33:50|WorldChamp2018 |
|c87ceb3e-67a7-45d4-aa9e-ca2b2ead82be|2         |WCh 2018|London ENG|2018.11.10 |2.0  |Carlsen, Magnus |Caruana, Fabiano|1/2-1/2|2835     |2832     |GM         |GM         |draw     |null      |draw            |null     |0                    |D37|2022-07-22 22:33:50|WorldChamp2018 |
|d50510ea-9c1a-4604-835a-430eb9502894|3         |WCh 2018|London ENG|2018.11.12 |3.0  |Caruana, Fabiano|Carlsen, Magnus |1/2-1/2|2832     |2835     |GM         |GM         |draw     |null      |draw            |null     |0                    |B31|2022-07-22 22:33:50|WorldChamp2018 |
|e899e16a-281e-41b9-a060-7bbef890af0a|4         |WCh 2018|London ENG|2018.11.13 |4.0  |Carlsen, Magnus |Caruana, Fabiano|1/2-1/2|2835     |2832     |GM         |GM         |draw     |null      |draw            |null     |0                    |A29|2022-07-22 22:33:50|WorldChamp2018 |
|59f8da88-fd21-4051-b25d-60f720ea4b70|5         |WCh 2018|London ENG|2018.11.15 |5.0  |Caruana, Fabiano|Carlsen, Magnus |1/2-1/2|2832     |2835     |GM         |GM         |draw     |null      |draw            |null     |0                    |B31|2022-07-22 22:33:50|WorldChamp2018 |
|6dcc4b46-3155-47ef-8346-1356ce5a05ee|6         |WCh 2018|London ENG|2018.11.16 |6.0  |Carlsen, Magnus |Caruana, Fabiano|1/2-1/2|2835     |2832     |GM         |GM         |draw     |null      |draw            |null     |0                    |C42|2022-07-22 22:33:50|WorldChamp2018 |
|c0c727cf-03ec-4b4a-b0f5-77af800a7287|7         |WCh 2018|London ENG|2018.11.18 |7.0  |Carlsen, Magnus |Caruana, Fabiano|1/2-1/2|2835     |2832     |GM         |GM         |draw     |null      |draw            |null     |0                    |D37|2022-07-22 22:33:50|WorldChamp2018 |
|4c14e044-cacc-405d-af4d-2b392faca170|8         |WCh 2018|London ENG|2018.11.19 |8.0  |Caruana, Fabiano|Carlsen, Magnus |1/2-1/2|2832     |2835     |GM         |GM         |draw     |null      |draw            |null     |0                    |B33|2022-07-22 22:33:50|WorldChamp2018 |
|3f4eb26e-3cd1-43b0-a451-f1c6146d801d|9         |WCh 2018|London ENG|2018.11.21 |9.0  |Carlsen, Magnus |Caruana, Fabiano|1/2-1/2|2835     |2832     |GM         |GM         |draw     |null      |draw            |null     |0                    |A29|2022-07-22 22:33:50|WorldChamp2018 |
+------------------------------------+----------+--------+----------+-----------+-----+----------------+----------------+-------+---------+---------+-----------+-----------+---------+----------+----------------+---------+---------------------+---+-------------------+---------------+
only showing top 20 rows

In [14]:
df_game_info.count()

2938

In [15]:
df_moves.show(truncate = False)

+------------------------------------+-------+------------+----------------+--------+----+-----------+---------+-----+-----+----------------------------------------------------------+--------+-------------+--------------+----------------------+------------+------------------------+-----------+-----------+----------------+----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+----------------+----------------+------------------------+------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------------------------------------------------------------------+
|game_id                             |move_no|move_no_pair|player          |notation|move|from_square|to_square|piece|color|fen                                                       |is_check|is_check_mate|is_fifty_moves|is_fivefold_repetition|is_game_over|is_insufficient_material|white_count|black_count|white_pawn_count|black_pawn_count|white_queen_count|black_queen_count|white_bishop_count|black_bishop_count|white_knight_count|black_knight_count|white_rook_count|black_rook_count|captured_score_for_white|captured_score_for_black|fen_row1_white_count|fen_row2_white_count|fen_row3_white_count|fen_row4_white_count|fen_row5_white_count|fen_row6_white_count|fen_row7_white_count|fen_row8_white_count|fen_row1_white_value|fen_row2_white_value|fen_row3_white_value|fen_row4_white_value|fen_row5_white_value|fen_row6_white_value|fen_row7_white_value|fen_row8_white_value|fen_row1_black_count|fen_row2_black_count|fen_row3_black_count|fen_row4_black_count|fen_row5_black_count|fen_row6_black_count|fen_row7_black_count|fen_row8_black_count|fen_row1_black_value|fen_row2_black_value|fen_row3_black_value|fen_row4_black_value|fen_row5_black_value|fen_row6_black_value|fen_row7_black_value|fen_row8_black_value|move_sequence                                                                |
+------------------------------------+-------+------------+----------------+--------+----+-----------+---------+-----+-----+----------------------------------------------------------+--------+-------------+--------------+----------------------+------------+------------------------+-----------+-----------+----------------+----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+----------------+----------------+------------------------+------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------------------------------------------------------------------+
|86e0b7f5-7b94-4ae3-97c8-317371622795|1      |1           |Nepomniachtchi,I|e4      |e2e4|e2         |e4       |P    |White|rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR             |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |8                   |7                   |0                   |1                   |0                   |0                   |0                   |0                   |31                  |7                   |0                   |1                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |8                   |8                   |0                   |0                   |0                   |0                   |0                   |0                   |8                   |31                  |e4                                                                           |
|86e0b7f5-7b94-4ae3-97c8-317371622795|2      |1           |Carlsen,M       |e5      |e7e5|e7         |e5       |P    |Black|rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR           |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |8                   |7                   |0                   |1                   |0                   |0                   |0                   |0                   |31                  |7                   |0                   |1                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |0                   |7                   |8                   |0                   |0                   |0                   |0                   |1                   |0                   |7                   |31                  |e4|e5                                                                        |
|86e0b7f5-7b94-4ae3-97c8-317371622795|3      |2           |Nepomniachtchi,I|Nf3     |g1f3|g1         |f3       |N    |White|rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R         |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |7                   |7                   |1                   |1                   |0                   |0                   |0                   |0                   |28                  |7                   |3                   |1                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |0                   |7                   |8                   |0                   |0                   |0                   |0                   |1                   |0                   |7                   |31                  |e4|e5|Nf3                                                                    |
|86e0b7f5-7b94-4ae3-97c8-317371622795|4      |2           |Carlsen,M       |Nc6     |b8c6|b8         |c6       |N    |Black|r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R       |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |7                   |7                   |1                   |1                   |0                   |0                   |0                   |0                   |28                  |7                   |3                   |1                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |1                   |7                   |7                   |0                   |0                   |0                   |0                   |1                   |3                   |7                   |28                  |e4|e5|Nf3|Nc6                                                                |
|86e0b7f5-7b94-4ae3-97c8-317371622795|5      |3           |Nepomniachtchi,I|Bb5     |f1b5|f1         |b5       |B    |White|r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R      |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |1                   |1                   |0                   |0                   |0                   |25                  |7                   |3                   |1                   |3                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |1                   |7                   |7                   |0                   |0                   |0                   |0                   |1                   |3                   |7                   |28                  |e4|e5|Nf3|Nc6|Bb5                                                            |
|86e0b7f5-7b94-4ae3-97c8-317371622795|6      |3           |Carlsen,M       |a6      |a7a6|a7         |a6       |P    |Black|r1bqkbnr/1ppp1ppp/p1n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R     |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |1                   |1                   |0                   |0                   |0                   |25                  |7                   |3                   |1                   |3                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |2                   |6                   |7                   |0                   |0                   |0                   |0                   |1                   |4                   |6                   |28                  |e4|e5|Nf3|Nc6|Bb5|a6                                                         |
|86e0b7f5-7b94-4ae3-97c8-317371622795|7      |4           |Nepomniachtchi,I|Ba4     |b5a4|b5         |a4       |B    |White|r1bqkbnr/1ppp1ppp/p1n5/4p3/B3P3/5N2/PPPP1PPP/RNBQK2R      |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |2                   |0                   |0                   |0                   |0                   |25                  |7                   |3                   |4                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |2                   |6                   |7                   |0                   |0                   |0                   |0                   |1                   |4                   |6                   |28                  |e4|e5|Nf3|Nc6|Bb5|a6|Ba4                                                     |
|86e0b7f5-7b94-4ae3-97c8-317371622795|8      |4           |Carlsen,M       |Nf6     |g8f6|g8         |f6       |N    |Black|r1bqkb1r/1ppp1ppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQK2R    |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |2                   |0                   |0                   |0                   |0                   |25                  |7                   |3                   |4                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |3                   |6                   |6                   |0                   |0                   |0                   |0                   |1                   |7                   |6                   |25                  |e4|e5|Nf3|Nc6|Bb5|a6|Ba4|Nf6                                                 |
|86e0b7f5-7b94-4ae3-97c8-317371622795|9      |5           |Nepomniachtchi,I|O-O     |e1g1|e1         |g1       |K    |White|r1bqkb1r/1ppp1ppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQ1RK1   |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |2                   |0                   |0                   |0                   |0                   |25                  |7                   |3                   |4                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |3                   |6                   |6                   |0                   |0                   |0                   |0                   |1                   |7                   |6                   |25                  |e4|e5|Nf3|Nc6|Bb5|a6|Ba4|Nf6|O-O                                             |
|86e0b7f5-7b94-4ae3-97c8-317371622795|10     |5           |Carlsen,M       |Be7     |f8e7|f8         |e7       |B    |Black|r1bqk2r/1pppbppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQ1RK1    |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |2                   |0                   |0                   |0                   |0                   |25                  |7                   |3                   |4                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |3                   |7                   |5                   |0                   |0                   |0                   |0                   |1                   |7                   |9                   |22                  |e4|e5|Nf3|Nc6|Bb5|a6|Ba4|Nf6|O-O|Be7                                         |
|86e0b7f5-7b94-4ae3-97c8-317371622795|11     |6           |Nepomniachtchi,I|Re1     |f1e1|f1         |e1       |R    |White|r1bqk2r/1pppbppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQR1K1    |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |2                   |0                   |0                   |0                   |0                   |25                  |7                   |3                   |4                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |1                   |3                   |7                   |5                   |0                   |0                   |0                   |0                   |1                   |7                   |9                   |22                  |e4|e5|Nf3|Nc6|Bb5|a6|Ba4|Nf6|O-O|Be7|Re1                                     |
|86e0b7f5-7b94-4ae3-97c8-317371622795|12     |6           |Carlsen,M       |b5      |b7b5|b7         |b5       |P    |Black|r1bqk2r/2ppbppp/p1n2n2/1p2p3/B3P3/5N2/PPPP1PPP/RNBQR1K1   |0       |0            |0             |0                     |0           |0                       |16         |16         |8               |8               |1                |1                |2                 |2                 |2                 |2                 |2               |2               |0                       |0                       |6                   |7                   |1                   |2                   |0                   |0                   |0                   |0                   |25                  |7                   |3                   |4                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |0                   |2                   |3                   |6                   |5                   |0                   |0                   |0                   |0                   |2                   |7                   |8                   |22                  |e4|e5|Nf3|Nc6|Bb5|a6|Ba4|Nf6|O-O|Be7|Re1|b5                                  |

In [16]:
df_moves.count()

252948

Joining all three tables

In [17]:
df_final = df_moves.join(df_game_info, df_moves.game_id == df_game_info.game_id, "left")\
          .join(df_codes, df_codes.eco == df_game_info.eco, "left").drop(df_codes.eco).drop(df_moves.game_id)

# Creating New Directory in Drive

In [18]:
os.chdir("/content/drive/MyDrive")
os.mkdir("DE_SOLUTION_Tushar_Sonp")
os.chdir("/content/drive/MyDrive/DE_SOLUTION_Tushar_Sonp")
os.mkdir("results")
os.chdir("/content/drive/MyDrive/DE_SOLUTION_Tushar_Sonp/results")

In [19]:
os.getcwd()

'/content/drive/MyDrive/DE_SOLUTION_Tushar_Sonp/results'

# 1. List of Winners of Each World champions Trophy 
Hint: Total Result of all rounds of Tournament for that player is considered as that player's
Score/Result.
Result attributes: winner, tournament_name

In [20]:
def winner_of_each_world(dataframe):
  try:
    a = dataframe.groupBy("winner", "tournament_name").agg(count("*").alias("result")).filter(df_game_info.winner != "draw")
    b = a.groupBy("tournament_name").agg(max("result").alias("f_result"))

    result_df = b.join(a, (a.tournament_name == b.tournament_name)&(b.f_result == a.result), "left")\
    .drop(a.tournament_name).select("winner", "tournament_name")

    result_df = result_df.toPandas()
    result_df.to_csv("df1.csv")

    return result_df

  except Exception as e:
    print(e)
    return e

In [21]:
winner_of_each_world(df_game_info).head()

            winner tournament_name
0        Kramnik,V  WorldChamp2004
1           Leko,P  WorldChamp2004
2  Lasker, Emanuel  WorldChamp1894
3  Carlsen, Magnus  WorldChamp2013
4          Anand,V   FideChamp2000

# 2. List of Players with number of times they have won Tournament in descending order(Max to min).
Result attributes: player_name, number_of_wins

In [22]:
def players_no_time_won_tournament(dataframe):
  try:
    result_df = dataframe.filter(dataframe.winner != "draw").select("player")\
    .groupBy(dataframe.player).agg(count("*").alias("number_of_wins"))\
    .orderBy("number_of_wins", ascending = False)
    
    result_df = result_df.toPandas()
    result_df.to_csv("df2.csv")

    return result_df
  
  except Exception as e:
    print(e)

In [23]:
players_no_time_won_tournament(df_final).head()

                player  number_of_wins
0   Botvinnik, Mikhail            4072
1      Karpov, Anatoly            3974
2    Steinitz, William            3699
3      Lasker, Emanuel            3264
4  Alekhine, Alexander            3134

# 3. Most and Least Popular eco move in world championship history.
Result attributes: eco, eco_name, number_of_occurences
Final result will have only two rows

In [24]:
def M_L_popular_eco_move(dataframe):
  try:
    df1 = dataframe.groupBy("eco","eco_name").agg(count("*").alias("number_of_occurences")).orderBy("number_of_occurences", ascending = False).limit(1)
    df2 = dataframe.groupBy("eco","eco_name").agg(count("*").alias("number_of_occurences")).orderBy("number_of_occurences").limit(1)
    result_df = df1.unionAll(df2)
    
    result_df = result_df.toPandas()
    result_df.to_csv("df3.csv")

    return result_df
  
  except Exception as e:
    print(e)

In [25]:
M_L_popular_eco_move(df_final).head()

,eco,eco_name,number_of_occurences
0,C42,Petrov Defense,5599
1,D54,"Queen's Gambit Declined, Anti-Neo-Orthodox Var...",30

# 4. Find the eco move with most winnings.
Ps. Use this opening move in your next chess game
Result attributes: eco, eco_name

In [26]:
def eco_move(dataframe):
  try:
    result_df = dataframe.filter(dataframe.winner != "draw")\
    .groupBy("eco","eco_name").agg(count("*").alias("number_of_occurences")).orderBy("number_of_occurences", ascending = False).limit(1)

    result_df = result_df.toPandas()
    result_df.to_csv("df4.csv")

    return result_df
  
  except Exception as e:
    print(e)

In [27]:
eco_move(df_final)

   eco           eco_name  number_of_occurences
0  B90  Sicilian, Najdorf                  2153

# 5. Longest and shortest game ever played in a world championship in terms of move.
Chess Funda: "move" is completed once both White and Black have played one turn. e.g If a game lasts 10 moves, both White and Black have
played 10 moves)

Result attributes: game_id, event, tournament_name, number_of_moves

Final result will have only two rows

In [28]:
def long_short_game_played(dataframe):
  try:
    df = dataframe.groupBy("game_id","event", "tournament_name").agg(when(count("*") % 2 == 0, count("*")/2).otherwise((count("*")-1)/2).alias("number_of_moves"))
    result_df = (df.orderBy("number_of_moves", ascending = False).limit(1)).unionAll(df.orderBy("number_of_moves").limit(1))

    result_df = result_df.toPandas()
    result_df.to_csv("df5.csv")

    return result_df
  
  except Exception as e:
    print(e)

In [29]:
long_short_game_played(df_final)

,game_id,event,tournament_name,number_of_moves
0,4424a0a4-3732-407c-bf0c-da47f6d91921,FIDE WCh KO,FideChamp2000,145.0
1,1846cede-0037-4f04-9dc2-bf948cf08d72,World Championship 28th,WorldChamp1972,0.0

# 6. Shortest and Longest Draw game ever Played.
Result attributes: game_id, event, tournament_name, number_of_moves
Final result will have only two rows

In [30]:
def long_short_draw_played(dataframe):
  try:
    df = dataframe.filter(dataframe.winner == "draw").groupBy("game_id","event", "tournament_name")\
    .agg(when(count("*") % 2 == 0, count("*")/2).otherwise((count("*")-1)/2).alias("number_of_moves"))
    result_df = (df.orderBy("number_of_moves", ascending = False).limit(1)).unionAll(df.orderBy("number_of_moves").limit(1))
    
    result_df = result_df.toPandas()
    result_df.to_csv("df6.csv")

    return result_df
  
  except Exception as e:
    print(e)

In [31]:
long_short_draw_played(df_final)

,game_id,event,tournament_name,number_of_moves
0,88f34084-e4df-4908-b381-9502ca65e9bf,FIDE WCh KO,FideChamp2002,129.0
1,90baaafa-b306-4508-bf07-194ae21aee0e,FIDE WCh KO,FideChamp2000,6.0

# 7. Most and Least rated Player.
Result attributes: player_name, elo
Chess Funda: elo is the rating of the player in chess tournament.
Final result will have only two rows

In [32]:
def most_least_rated_player(dataframe):
  try:
    df = dataframe.select("player", when(df_final.player == df_final.white, df_final.white_elo)\
                          .when(df_final.player == df_final.black, df_final.black_elo).alias("elo"))\
                          .groupBy("player", "elo").count()\
                          .groupBy("player").agg(sum("elo").alias("elo")).na.drop()
    result_df = (df.orderBy("elo", ascending = False).limit(1)).unionAll(df.orderBy("elo").limit(1))
    
    result_df = result_df.toPandas()
    result_df.to_csv("df7.csv")

    return result_df

  except Exception as e:
    print(e)

In [33]:
most_least_rated_player(df_final)

            player    elo
0  Karpov, Anatoly  24590
1        Abulhul,T   2076

# 8. 3rd Last Player with most Loss.

Result attributes: player_name
Final result will have only one row

In [34]:
def third_last_player(dataframe):
  try:
    player_name = dataframe.select("loser").na.drop().groupBy(col("loser").alias("player_name")).count()\
    .select("player_name").orderBy("count").collect()[2]

    result_df = pd.DataFrame({"player_name": player_name})
    result_df.to_csv("df8.csv")

    return result_df

  except Exception as e:
    print(e)

In [35]:
third_last_player(df_final)

  player_name
0     Aseev,K

# 9. How many times players with low rating won matches with their total win Count.
Result attributes: player_name, win_count

In [36]:
def players_low_rating_won_matches(dataframe):
  try:
    result_df = dataframe.select('player','winner', when(dataframe.color == 'White',dataframe.white_elo)\
                        .when(dataframe.color == 'Black',dataframe.black_elo).alias('rating'))\
                        .filter(dataframe.winner != 'draw')\
                        .groupBy('player')\
                        .agg(min('rating').alias('min_rating'),count('winner').alias('win_count'))\
                        .select('player','win_count')

    result_df = result_df.toPandas()
    result_df.to_csv("df9.csv")

    return result_df

  except Exception as e:
    print(e)

In [37]:
players_low_rating_won_matches(df_final).head()

              player  win_count
0  Hamdouchi, Hichem        123
1    Fridman, Daniel        112
2     Svidler, Peter        438
3    Alterman, Boris        106
4   Nepomniachtchi,I        268

# 10. Move Sequence for Each Player in a Match.
Result attributes: game_id, player_name, move_sequence, move_count

In [38]:
def move_seq_players(dataframe):
  try:
    df = dataframe.groupBy("game_id", col("player").alias("player_name")).agg(max("move_no_pair").alias("move_count"))
    result_df = df.join(dataframe["move_sequence", "player", "move_no_pair", "game_id"], \
                        (df.move_count == dataframe.move_no_pair) & (df.player_name == dataframe.player) \
                        & (df.game_id == dataframe.game_id), "left").drop(dataframe.game_id).drop(dataframe.player).drop(dataframe.move_no_pair)\
                        .select("game_id", "player_name", "move_sequence", "move_count").orderBy("game_id")
    
    result_df = result_df.toPandas()
    result_df.to_csv("df10.csv")

    return result_df

  except Exception as e:
    print(e)

In [39]:
move_seq_players(df_final).head()

,game_id,player_name,move_sequence,move_count
0,0028cc2e-5aaa-4645-a8e9-4d6b51c8f9db,"Leko,P",d4|Nf6|Nf3|g6|c4|Bg7|Nc3|d5|Qb3|dxc4|Qxc4|O-O|...,16
1,0028cc2e-5aaa-4645-a8e9-4d6b51c8f9db,"Khalifman,A",d4|Nf6|Nf3|g6|c4|Bg7|Nc3|d5|Qb3|dxc4|Qxc4|O-O|...,17
2,00563036-1aa1-42cc-84d0-bd95562cdb52,"Krasenkow, Michal",e4|c5|c3|Nf6|e5|Nd5|g3|Nc6|Bg2|Qc7|f4|e6|Na3|B...,44
3,00563036-1aa1-42cc-84d0-bd95562cdb52,"Azmaiparashvili, Zurab",e4|c5|c3|Nf6|e5|Nd5|g3|Nc6|Bg2|Qc7|f4|e6|Na3|B...,45
4,0059d5cb-2af8-48f7-91df-18cc6794d176,"Anastasian,A",d4|d5|c4|c6|Nf3|Nf6|Qb3|e6|Nc3|Nbd7|Bg5|Qa5|cx...,31

# 11. Total Number of games where losing player has more Captured score than Winning player.
Hint: Captured score is cumulative, i.e., for 3rd capture it will have score for 1, 2, and 3rd.
Result attributes: total_number_of_games Final result will have only one row

In [40]:
def num_of_games(dataframe):
  try:
    df = dataframe.filter(dataframe.winner != "draw").select("game_id","player", "winner",when(dataframe.color == "White", dataframe.captured_score_for_white)\
                                                            .when(dataframe.color == "Black", dataframe.captured_score_for_black).alias("captured_score"))\
                                                            .groupBy("game_id", "player", "winner").agg(sum("captured_score").alias("winner_score")).orderBy("game_id")
    
    df1 = dataframe.filter(dataframe.winner != "draw").select("game_id","player", "loser", when(dataframe.color == "White", dataframe.captured_score_for_white)\
                                                            .when(dataframe.color == "Black", dataframe.captured_score_for_black).alias("captured_score"))\
                                                            .groupBy("game_id", "player", "loser").agg(sum("captured_score").alias("loser_score")).orderBy("game_id")

    result_df = df.join(df1 , (df.game_id == df1.game_id), "inner").drop(df.game_id).drop(df.player).filter(df.winner_score < df1.loser_score).select("game_id").count()

    result_df = pd.DataFrame({"total_number_of_games":result_df}, index=range(0,1))
    result_df.to_csv("df11.csv")

    return result_df

  except Exception as e:
    print(e)

In [41]:
num_of_games(df_final)

   total_number_of_games
0                   1404

# 12. List All Perfect Tournament with Winner Name.
Chess Funda: Perfect Tournament means a player has won all the matches excluding draw matches. e.g Player A has won 5 matches out of 7
Matches in tournament where 2 matches are draw and player B has won 0 matches)
Result attributes: winner_name, tournament_name

In [42]:
def list_perfect_tour_winner_name(dataframe):
  try:
    df = dataframe.select("*",when(dataframe.winner != "draw", dataframe.winner).alias("without_draw"),\
                          when(dataframe.winner == "draw", dataframe.winner).alias("with_draw"))\
                          .groupBy("player","tournament_name").agg(count("winner"),count("without_draw"))
    df1 = dataframe.select("*",when(dataframe.winner != "draw", dataframe.winner).alias("winner_name"), \
                          when(dataframe.winner == "draw", dataframe.winner).alias("with_draw"))\
                          .groupBy("winner_name", "tournament_name").agg(count("winner")).na.drop()
    
    result_df = df1.join(df.select("player", "tournament_name", "count(without_draw)"), \
                         (df.player == df1.winner_name)&(df.tournament_name == df1.tournament_name), "left")\
                         .filter(df1["count(winner)"] == df["count(without_draw)"]).drop(df.tournament_name)\
                         .select("winner_name", "tournament_name")
    
    result_df = result_df.toPandas()
    result_df.to_csv("df12.csv")

    return result_df

  except Exception as e:
    print(e)

In [43]:
list_perfect_tour_winner_name(df_final)

       winner_name tournament_name
0        Lputian,S   FideChamp2004
1  Zhang Pengxiang   FideChamp2002
2      Movsesian,S   FideChamp2000
3        Kharlov,A   FideChamp2000

# 13. Player with highest winning ratio.
Hint: Winning ratio: (Number of rounds won)/(Number of rounds played)
Result attributes: player_name
Final result will have only one row

In [44]:
def player_highest_winning_ratio(dataframe):
  try:
    df = dataframe.filter(dataframe.winner != "draw").groupBy("player").agg(sum(df_final.round).alias("round"))
    df1 = dataframe.groupBy("player").agg(sum(df_final.round).alias("round"))

    result_df = df.join(df1, df.player == df1.player, "inner").drop(df.player).select("player",(df.round/df1.round).alias("round"))\
                .select(col("player").alias("player_name")).orderBy("round", ascending = False).limit(1)
    
    result_df = result_df.toPandas()
    result_df.to_csv("df13.csv")
    
    return result_df
  
  except Exception as e:
    print(e)

In [45]:
player_highest_winning_ratio(df_final)

     player_name
0  Charbonneau,P

# 14. Player who had given checkmate with Pawn.
Note: Consider all events for this query
Result attributes: player_name
Final result will have only one row

In [46]:
def player_checkmate_with_pawn(dataframe):
  try:
    result_df = dataframe.filter((df_final.is_check_mate == 1) & (df_final.white_pawn_count == 1)\
                                 & (df_final.black_pawn_count == 1) & (df_final.winner != "draw") )\
                                 .select(col("player").alias("player_name"))
    
    result_df = result_df.toPandas()
    result_df.to_csv("df14.csv")

    return result_df

  except Exception as e:
    print(e)

In [47]:
player_checkmate_with_pawn(df_final)

  player_name
0  Nakamura,H

# 15. List games where player has won game without queen.
Result attributes: game_id, event, player_name

In [48]:
def player_won_without_queen(dataframe):
  try:
    result_df = dataframe.filter((dataframe.black_queen_count ==0) & (dataframe.white_queen_count == 0) & (dataframe.winner != "draw"))\
                                  .select("game_id", "event", col("player").alias("player_name")).groupBy("game_id", "event", "player_name").count()\
                                  .select("game_id","event", "player_name")

    result_df = result_df.toPandas()
    result_df.to_csv("df15.csv")

    return result_df

  except Exception as e:
    print(e)

In [49]:
player_won_without_queen(df_final).head()

,game_id,event,player_name
0,a7e5d1c9-7e1c-4c8b-a525-49abcf09a69b,FIDE WCh KO,"Filippov,Va"
1,75b4989a-ec9d-4135-9bfa-91d6e0d820fe,FIDE WCh KO,"Fiorito,F"
2,f444bff8-acec-4162-b516-44ff0e1ebce7,FIDE-Wch k.o.,"Asrian, Karen"
3,083a4003-8f7e-4bfc-aa64-f93904c8ef0f,World Championship 11th,"Lasker, Emanuel"
4,ae3e67f9-d68f-410b-84db-ec1a69f4de63,WCh,"Kramnik,V"